.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.search_form {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.search_form input {
  margin-right: 10px;
  flex-grow: 1;
}

.search_form button {
  margin-left: 10px;
}

.post-list {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

/* Responsividade */
@media (max-width: 768px) {
  .search_form {
    flex-direction: column;
    width: 100%;
  }

  .search_form input,
  .search_form button {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .post-list {
    width: 100%;
  }
}
