.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf3f6;
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 20px;
  }
}
